{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header class="h">
        <h1>{% block name %}{% endblock%}</h1>
        <a href="{% url 'index' %}"><Button>Home</Button></a>
        <a href="{% url 'contact' %}"><Button>Contact</Button></a>
        <br>
        <br>
        <hr>
    </header>
    
    <div>
        {% block content %}{% endblock %}
    </div>

</body>
</html>