{% extends 'base.html' %}

{% block title %}Cartpage{% endblock %}

{% block name %}Cart{% endblock %}

{% block content %}

    {% for i in cart_list %}
        <p>{{ i.product.name }}</p>
        <img src="{{ i.product.img.url }}" width="100px" alt="">
        <h3>{{ i.product.price }}</h3>
        <form action="{% url 'delete_to_cart' %}" method="post"a>
            {% csrf_token %}
            <button type="submit" name="prod_id" value="{{ i.id }}">Delete To Cart</button>
            </form>
            <br>
    {% endfor %}
{% endblock %}