{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block name %}Home{% endblock %}

{% block content %}

    {% for i in product_list %}
        <h4>{{ i.name }}</h4>
        <img src="{{ i.img.url }}" width="300px" alt="">
        <p>{{ i.price }}</p>
        
        <form action="{% url 'add_to_cart' %}" method ='post'>
            {% csrf_token %}
            <button type='submit' name="prod_id" value="{{ i.id }}">Add Cart</button>
        </form><hr>
    {% endfor %}
{% endblock %}